<h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <% @cocktails.each do |cocktail| %>
      <ol>
        <li><%= link_to "#{cocktail.name}", cocktails_path %></li>
      </ol>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <%= link_to "Create cocktail", new_cocktail_path %>
    </div>
  </div>
</div>





<!-- <div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">

  </div>
</div> -->
