<div class="text-center">
  <h1>Mojito and Co</h1>
  <p>Best mojito-inspired cocktails</p>
  <hr>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <ol>
      <% @cocktails.each do |cocktail| %>
        <li><%= link_to "#{cocktail.name}", cocktail_path(cocktail.id) %></li>
      <% end %>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <%= link_to "Create cocktail", new_cocktail_path, class: "btn btn-lime" %>
    </div>
  </div>
</div>
